*.pyc
.idea
data/external
data/internal/naqt.db
output/
metastore_db/
*.o
*.so
clm/clm.py
*.cxx
*.log
lib/*.jar
.ipynb_checkpoints/
terraform.tfstate
terraform.tfstate.backup
terraform/ssh-keys/
eip.tf
readable.txt
aws_gpu_override.tf
aws_small_override.tf
jupyter_s3_config.py
jupyter_s3.tf
jupyter_s3.sh
