*.pyc
.idea
data/external
data/internal/naqt.db
output/
metastore_db/
*.o
*.so
clm/clm.py
*.cxx
*.log
lib/*.jar
.ipynb_checkpoints/
terraform.tfstate
terraform.tfstate.backup
terraform/ssh-keys/
eip.tf
readable.txt
aws_gpu_override.tf
aws_small_override.tf
aws_x1_32_override.tf
aws_x1_16_override.tf
aws_m4_10_override.tf
aws_c4_8_override.tf
aws_r4_8_override.tf
jupyter_s3_config.py
jupyter_s3.tf
jupyter_s3.sh
slack_notify.tf
naqt_db.tf
qanta.hcl
qb.egg-info/
qanta_web/.vscode
qanta_web/*.sqlite3
qanta_web/tags
