*.pyc
.idea
data/external
data/internal/naqt.db
output/
metastore_db/
*.o
*.so
clm/clm.py
*.cxx
*.log
lib/*.jar
.ipynb_checkpoints/
terraform.tfstate
terraform.tfstate.backup
terraform/ssh-keys/
eip.tf
readable.txt
