scipy
numpy
nltk
scikit-learn
fuzzywuzzy
python-Levenshtein
requests
click
pyfunctional
luigi
jinja2
boto3
matplotlib
spacy==1.9
pycountry
flask
dash
dash-renderer
dash-html-components
dash-core-components
plotly
unidecode
pyyaml
seaborn
typing
awscli
pypandoc
elasticsearch-dsl
chainer
py4j
result
