seaborn
matplotlib
scipy
numpy
wikipedia
nltk
scikit-learn
regex
fuzzywuzzy
py4j
python-Levenshtein
requests
click
pyfunctional
progressbar2
fn
luigi
sqlalchemy
jinja2
psycopg2
awscli
setuptools
typing
bottle
boto3
pypandoc
slacker
pyhcl
chainer
