seaborn
matplotlib
scipy
numpy
unidecode
wikipedia
whoosh
nltk
scikit-learn
regex
fuzzywuzzy
py4j
python-Levenshtein
requests
click
pyfunctional
progressbar2
fn
luigi
sqlalchemy
jinja2
psycopg2
awscli
